@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  width: 200px;
  padding: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-1 {
  background-color: transparent;
  border: 1px solid #00a372;
  border-bottom: 2px solid #00a372;
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00a372;
  background-image: -webkit-linear-gradient(30deg, #00a372 50%, transparent 50%);
  background-image: linear-gradient(30deg, #00a372 50%, transparent 50%);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 100%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  box-shadow:
    0 0 10px 0 #00a372 inset,
    0 0 20px 2px #00a372;
  border: 3px solid #00a372;
  animation: pulse 1s infinite;
  background-position: 0%;
  color: #FBFBFB;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.light {
  overflow: hidden;
}

.light:before {
  content: "";
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg);
  position: absolute;
  top: -10%;
  left: -200%;
  transition: 0.2s ease-in-out;
}

.light:hover:before {
  left: -10%;
}
